<style>
    table { border-collapse: collapse; margin: 3px}
    td { border: 1px solid #999; padding: 5px;}
    td.desc {
        background-color: #CCE8EB;
        font-weight: bold;
        text-align: right;
    }
    thead td { text-align: center; }
</style>
<table>
    <tbody>
        <tr><td class="desc">名称</td><td>{{ name }}</td></tr>
        <tr><td class="desc">IP</td><td>{{ ip }}</td></tr>
        <tr><td class="desc">MAC</td><td>{{ mac }}</td></tr>
        <tr><td class="desc">总计</td><td>{{ total }}</td></tr>
        <tr><td class="desc">一分钟</td><td>{{ onem }}</td></tr>
        <tr><td class="desc">在线</td><td>{{ period }}</td></tr>
    </tbody>
</table>