<style>
    table { border-collapse: collapse; margin: 3px}
    tr.unknown { background-color: #ffc3b3;}
    td { border: 1px solid #999; padding: 5px;}
    table thead {
        background-color: #CCE8EB;
        font-weight: bold;
    }
    td.compare { font-size: large;}
    thead td { text-align: center; }
</style>
<table>
    <thead>
        <tr>
            <td colspan="4">公网IP变化，IP：{{ new_ip }}</td>
        </tr>
        <tr>
            <td colspan="3">在线设备 {{online_devs | length}} 台</td>
        </tr>
        <tr>
            <td>名称</td>
            <td>IP</td>
        </tr>
    </thead>
    {% if online_devs is defined %}
    <tbody>
        {% for dev in online_devs %}
        <tr class="{% if dev.name == 'unknown' %}
        unknown
    {% else %}
        known
    {% endif %}">
            <td>{{ dev.name }}</td>
            <td>{{ dev.ip }}</td>
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}
</table>